<li class="item item-divider item-icon-left">
  <script id="calory-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <div class="list">
          <div class="item item-divider item-icon-right">
            <i class="icon ion-ios-close-empty" on-tap="closePopover()"></i>
            Выбрать опцию
          </div>
          <li class="item item-icon-left" on-tap="editItem(-2)" ng-show="dailyData.foodIntake != 'exercises'">
            <i class="icon ion-fork"></i>
            Выбрать продукт
          </li>
          <li class="item item-icon-left" on-tap="editItem(-1)">
            <i class="icon ion-ios-compose-outline"></i>
            Быстрый набор
          </li>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
  <i class="icon ion-clipboard" on-tap="openPopover($event)"></i>
  {{ dailyData.foodIntake | getPartName}}
  <span class="badge badge-stable">{{sum}}</span>
</li>
<li class="item padding-clear">
  <ion-list can-swipe="true">
    <ion-item  ng-repeat="(key, item) in arr">
      <label>
        {{(item.name == "unnamed") ? "Быстрое добавление" : item.name}}
        <span class="badge badge-stable">{{item.value}}</span>
      </label>
      <ion-option-button class="button-info button-positive ion-edit" on-tap="editItem(key)"></ion-option-button>
      <ion-option-button class="button-info button-assertive ion-trash-a" on-tap="deleteItem(key)"></ion-option-button>
    </ion-item>
  </ion-list>
</li>
