<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">{{(currentItemID >= 0) ? 'Изменить': 'Добавить'}} пункт</h1>
    <button class="button button-clear button-small button-positive" on-tap="closeModal()">Отмена</button>
  </ion-header-bar>

  <ion-content padding="true" >
    <div ng-show="currentItemID >= -1">
      <form ng-submit="submit()">
        <div class="list">
          <label class="item item-input">
            <input type="number" placeholder="Быстрое добавление" ng-model = "model.caloryValue" name = "model.caloryValue">
          </label>
          <div class="padding">
            <button type="submit" class="button button-block button-positive" ng-disabled="!model.caloryValue">{{ currentItemID >= 0 ? 'Изменить' : 'Добавить' }}</button>
          </div>
        </div>
      </form>
    </div>


    <div ng-show="currentItemID == -2">
      <form ng-submit="submit()">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Наименование продукта" ng-model = "model.productName" name = "model.productName" pattern = "^[A-Za-zА-Яа-яЁё\s0-9]+$">
          </label>
          <div ng-show="model.productName">
            <label>Выберите из списка продуктов</label>
            <ul class="list">
              <li class="item" ng-repeat="item in recipeList | search:model.productName" on-tap="choseProduct(item)" ng-show="!model.chosenProductName">
                {{item.name}}
              </li>

              <li class="item item-icon-right" ng-show="model.chosenProductName">
                <i class="icon ion-ios-close-empty assertive" on-tap="clearChosenProduct()"></i>
                {{model.chosenProductName}}, {{model.chosenProductCalory}} кКал/100гр
              </li>
            </ul>

          </div>
          <label class="item item-input">
            <input type="number" placeholder="Кол-во, гр." ng-model = "model.productQuantity" name = "model.productQuantity" ng-keyup="calculateCalory()">
          </label>
          <div class="list" ng-show="model.caloryValue">
            <li class="item">
              Калорий в указанном весе: {{model.caloryValue}}, кКал
            </li>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-positive" ng-disabled="!model.productName || !model.caloryValue">Добавить</button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</div>
