<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">{{register ? 'Регистрация': 'Вход'}}</h1>
    <button class="button button-clear button-small button-positive" on-tap="closeModal()">Отмена</button>
  </ion-header-bar>
  <ion-content padding="true" >

    <form ng-submit="submit()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="email" ng-model = "model.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model = "model.password" required pattern="^[a-zA-Z0-9]+$">
        </label>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" ng-disabled="!model.email || !model.password">{{register ? 'Зарегистрироваться': 'Войти'}}</button>
        </div>
      </div>
    </form>
  </ion-content>
</div>
