<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">{{(currentItem >=0) ? 'Изменить': 'Добавить'}} продукт</h1>
    <button class="button button-clear button-small button-positive" on-tap="closeModal()">Отмена</button>
  </ion-header-bar>
  <ion-content padding="true" >

    <form ng-submit="submit()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Наименование</span>
          <input type="text" ng-model = "model.name" name = "model.name" pattern = "^[A-Za-zА-Яа-яЁё\s0-9.,%]+$">
        </label>
        <label class="item item-input">
          <span class="input-label">Калорийность кКал/100г</span>
          <input type="number" ng-model = "model.value" name = "model.value">
        </label>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" ng-disabled="!model.name || !model.value">{{ currentItem >= 0 ? 'Изменить' : 'Добавить' }}</button>
        </div>
      </div>
    </form>
  </ion-content>
</div>
