<ion-view view-title="Мои блюда">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear button-light ion-plus-circled" on-tap="editProduct()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list list-inset ">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Поиск" pattern = "^[A-Za-zА-Яа-яЁё\s0-9]+$" ng-model = "model.searchText">
      </label>
    </div>
    <div class="list">
      <li class="item padding-clear">
        <ion-list can-swipe="true">
          <ion-item ng-repeat="(key, item) in list | search:model.searchText">
            <label>
              {{item.name}}
              <span class="badge badge-stable">{{item.value}}</span>
            </label>
            <ion-option-button class="button-info button-positive ion-edit" on-tap="editProduct(key)"></ion-option-button>
            <ion-option-button class="button-info button-assertive ion-trash-a" on-tap="deleteProduct(key)"></ion-option-button>
          </ion-item>
        </ion-list>
      </li>
    </div>
  </ion-content>
</ion-view>
