<ion-view view-title="Ввод исходных данных"  class="positive">
  <ion-content class="padding">

    <div ng-show="!userLogged">
      <div class="card" ng-show="errMsg">
        <div class="item item-text-wrap">
          {{errMsg}}
        </div>
      </div>
      <button class="button button-full button-positive" on-tap="signInRegister(false)">
        Авторизация
      </button>
      <button class="button button-full button-positive" on-tap="signInRegister(true)">
        Регистрация
      </button>
    </div>

    <div ng-show="userLogged">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Возраст</span>
          <input type="text" placeholder = "Введите возраст" ng-model="data.age" class="input-float-right">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Пол
          </div>
          <select ng-model="data.sex">
            <option value="1">Мужской</option>
            <option value="0">Женский</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Вес, кг</span>
          <input type="text" placeholder = "Введите вес" ng-model="data.weight" class="input-float-right">
        </label>
        <label class="item item-input">
          <span class="input-label">Рост, см</span>
          <input type="text" placeholder = "Введите рост" ng-model="data.growth" class="input-float-right">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Нагрузка
          </div>
          <select ng-model = "data.exercise">
            <option selected value="1.2">Базовый обмен веществ</option>
            <option value="1.375">3 р в неделю</option>
            <option value="1.4625">5 р в неделю</option>
            <option value="1.550">Интенсивно 5 р в неделю</option>
            <option value="1.6375">Каждый день</option>
            <option value="1.725">Каждый день интенсивно</option>
            <option value="1.9">Ежедневно + физ работа</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Формула:
          </div>
          <select ng-model="data.formula">
            <option value="0">Миффлина — Сан Жеора</option>
            <option value="1">Харриса-Бенедикта</option>
          </select>
        </label>
      </div>
      <label ng-show="caloryLimit">Суточная норма калорий: {{caloryLimit}}</label>
      <button class="button button-full button-assertive" on-tap="signOut()">
        Выйти
      </button>
    </div>
  </ion-content>
</ion-view>
