<ion-view view-title="Учет калорий">
  <ion-content class="padding">
    <label ng-show="!caloryLimit">Заполните личные данные для расчета</label>
    <div ng-show="caloryLimit">
      <div class="row">
        <div class="col-33 col-center" on-tap="setDate('yesterday')"><a class="button ion-arrow-left-a button-clear button-positive"></a></div>
        <div class="col-33 col-center">{{today[2] + '.' + today[1] + '.' + today[0] | mydate}}</div>
        <div class="col-33 col-center" on-tap="setDate('tomorrow')"><a class="button ion-arrow-right-a button-clear button-positive"></a></div>
      </div>
      <div class="card padding-clear">
        <div class="item item-text-wrap">
          <div class="row text-center">
            <div class="col">{{caloryLimit}}</div>
            <div class="col-10">-</div>
            <div class="col">{{values.breakfast + values.dinner + values.lunch}}</div>
            <div class="col-10">+</div>
            <div class="col">{{values.exercises}}</div>
            <div class="col-10">=</div>
            <div class="col">{{caloryLimit - (values.breakfast + values.dinner + values.lunch) + values.exercises}}</div>
          </div>
          <div class="row text-center">
            <div class="col"><h6>Цель</h6></div>
            <div class="col-10"></div>
            <div class="col"><h6>Прием пищи</h6></div>
            <div class="col-10"></div>
            <div class="col"><h6>Активность</h6></div>
            <div class="col-10"></div>
            <div class="col"><h6>Итог</h6></div>
          </div>
        </div>
      </div>

      <div class="list">

        <calory data = "{{ {foodIntake: 'breakfast', today: today[3], token: token} }}"></calory>
        <calory data = "{{ {foodIntake: 'lunch', today: today[3], token: token} }}"></calory>
        <calory data = "{{ {foodIntake: 'dinner', today: today[3], token: token} }}"></calory>
        <calory data = "{{ {foodIntake: 'exercises', today: today[3], token: token} }}"></calory>

      </div>

    </div>
  </ion-content>
</ion-view>
