<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Мои данные" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Продукты" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/recipes">
    <ion-nav-view name="tab-recipes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Счетчик калорий" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/calory">
    <ion-nav-view name="tab-calory"></ion-nav-view>
  </ion-tab>

</ion-tabs>
