/* Empty. Add your own CSS if you like */

.input-float-right{
  text-align: right;
}

.padding-clear{
  padding: 0;
  margin: 0;
  border: none;
}

.col-33{
  display: inline-flex;
  justify-content: center;
}
.popover {
  height: 160px;
  width: 215px;
}

.button.button-light.button-clear {
  color: #fff;
}
